/* Style the body */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    height: 100vh;
    /* Full viewport height */
    margin: 0;
    /* Remove default margin */
}

/* Style the form */
#weatherForm {
    text-align: center;
    margin-top: 20px;
}

/* Style the city input field (you can customize further) */
#city {
    padding: 10px;
    font-size: 16px;
    width: 200px;
}

/* Style the submit button */
button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

/* Style for weather data display */
#weatherData {
    margin-top: 20px;
    font-size: 18px;
}

/* Style for container */
#container {
    margin: auto;
    width: 500px;
    height: 450px;
    background-color: antiquewhite;
    padding: 20px 15px;
    border-radius: 8px;
    box-sizing: border-box;
}